<div class="page-titles-img title-space-lg parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url(<%= asset_url('doctorroom.jpg') %>);background-position:top center;'>
  <div class="container">
    <div class="row">
      <div class=" col-md-12">
        <h1 class="text-uppercase">Features
        </h1>
      </div>
    </div>
  </div>
</div>

<%= render 'guests/features/featurelist' %>
