<div class="bg-faded pt90 pb60">
  <div class="container">
    <div class="title-heading1 mb40">
      <h3>How it works?</h3>
    </div>
    <div class="row">
      <div class="col-lg-4 mb30">
        <div class="icon-box icon-box-center icon-border-box bg-white">
          <i class="icon-hover-1 bg-default icon-hover-default">1</i>
          <h4>Sign Up</h4>
          <p>
            Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb30">
        <div class="icon-box icon-box-center icon-border-box bg-white">
          <i class="icon-hover-1 bg-dark icon-hover-default">2</i>
          <h4>Choose a plan</h4>
          <p>
            Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb30">
        <div class="icon-box icon-box-center icon-border-box bg-white">
          <i class="icon-hover-1 bg-success icon-hover-default">3</i>
          <h4>Pay the amount</h4>
          <p>
            Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
