<div class="container pt90 pb50">
  <div class="text-center">
    <h2>1. Out of Box Software</h2>
    <p>Start a 14 days free trail. Cancel your plan anytime. No credit card required.
      <br>
      More than 100 users? Talk to us about custom enterprise pricing.</p>
  </div>
  <br>
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="borderpricing col-md-3">
      <div class="plan-header">
        <h4>Small</h4>
        <h1 class="text-info">$375
          <small>/ month</small>
        </h1>
        <h6>0-25 Users</h6>
      </div>
    </div>
    <div class="borderpricing col-md-3">
      <div class="plan-header">
        <h4>Medium</h4>
        <h1 class="text-info">$700
          <small>/ month</small>
        </h1>
        <h6>25-50 Users</h6>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="borderpricing col-md-3">
      <div class="plan-header">
        <h4>Large</h4>
        <h1 class="text-info">$975
          <small>/ month</small>
        </h1>
        <h6>50-75 Users</h6>
      </div>
    </div>
    <div class="borderpricing col-md-3">
      <div class="plan-header">
        <h4>X-Large</h4>
        <h1 class="text-info">$1200
          <small>/ month</small>
        </h1>
        <h6>75-100 Users</h6>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <br><br>
  <div class="text-center">
    <h2>2. Custom Software Development</h2>
    <p>We provide custom software development.
      <br>
      Quote after a discussion of requirements.
    </p>
  </div>
</div>
