<div class="container pt90 pb50">
  <div class="text-center">
    <h2>1. Start project</h2>
    <p>We have done a lot of work creating the starting template.
      <br>
      Once off fee of <strong>$10,000</strong> to purchase the template.
    </p>
  </div>
  <br>
  <div class="text-center">
    <h2>2. Development</h2>
    <p>
      We provide custom software development.<br>
      We divide development into features, you pay per feature.
    </p>
  </div>
  <br>
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="borderpricing col-md-3">
      <div class="plan-header">
        <h4>Small feature</h4>
        <h1 class="text-info">$1250
        </h1>
        <h6>10-25 Hours</h6>
      </div>
    </div>
    <div class="borderpricing col-md-3">
      <div class="plan-header">
        <h4>Medium feature</h4>
        <h1 class="text-info">$2400
        </h1>
        <h6>25-50 Hours</h6>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="borderpricing col-md-3">
      <div class="plan-header">
        <h4>Large feature</h4>
        <h1 class="text-info">$3750
        </h1>
        <h6>50-75 Hours</h6>
      </div>
    </div>
    <div class="borderpricing col-md-3">
      <div class="plan-header">
        <h4>X-Large feature</h4>
        <h1 class="text-info">$5000
        </h1>
        <h6>75-100 Hours</h6>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <br><br>
  <div class="text-center">
    <h2>3. Hosting</h2>
    <p>
      You'll need to pay the monthly Amazon Web Services (AWS) hosting charges for your app.<br>
      AWS charges are usage dependant; more users equal higher fees.<br>
      <a href="https://aws.amazon.com/ec2/pricing/on-demand/">AWS Pricing</a>
    </p>
    </div>
    <div class="text-center">
      <h2>4. Support</h2>
      <p>
        Quote after a discussion of requirements.
      </p>
    </div>
  </div>
</div>
