<div class="bg-faded ">
  <div class="container mb50 pt90">
    <div class="title-heading1 mb40">
      <h3>F.A.Q. about plans</h3>
    </div>
    <div class="row">
      <div class="col-md-4 mb30">
        <h4>Can I have more practitioners?</h4>
        <p>
          Absolutely. There is no limit on the number of practitioners available within your application. Larger apps will require increased AWS capacity.
        </p>
      </div>
      <div class="col-md-4 mb30">
        <h4>Can I import my current data?</h4>
        <p>
          Certainly. We can help you import data from other practice management software.
        </p>
      </div>
      <div class="col-md-4 mb30">
        <h4>Can I use my own developers?</h4>
        <p>
          Yes, once you've purchased the template you can use any developer. We are very experienced at developing healthcare applications and happy to help.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb30">
        <h4>Do I need to sign any contracts?</h4>
        <p>
          Nope, no contract. You can cancel anytime.
        </p>
      </div>
      <div class="col-md-4 mb30">
        <h4>How do I pay my fees?</h4>
        <p>
          You will be sent an invoice. You must pay charges in advance.
        </p>
      </div>
      <div class="col-md-4 mb30">
        <h4>Are there any cancellation fees?</h4>
        <p>
          No way. We want you to be 100% happy.
        </p>
      </div>
    </div>
  </div>
</div>
