<div class="bg-faded ">
  <div class="container mb50 pt90">
    <div class="title-heading1 mb40">
      <h3>F.A.Q. about plans</h3>
    </div>
    <div class="row">
      <div class="col-md-4 mb30">
        <h4>Can I have more practitioners?</h4>
        <p>
          Absolutely. The plans above can give you a quick overview of our pricing structure, and we can customise your account to suit your business.
        </p>
      </div>
      <div class="col-md-4 mb30">
        <h4>Can I import my current data?</h4>
        <p>
          Certainly. We have both free and paid data conversion services to import data from other practice management software.
        </p>
      </div>
      <div class="col-md-4 mb30">
        <h4>Can I change my plan later?</h4>
        <p>
          Yes, we can scale up and down with your business and change your account to suit you at any time.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb30">
        <h4>Do I need to sign any contracts?</h4>
        <p>
          Nope, you can cancel at any time and your subscription will finish at the end of the next billable period.
        </p>
      </div>
      <div class="col-md-4 mb30">
        <h4>How do I pay my subscription?</h4>
        <p>
          You will be sent an invoice on a monthly or yearly basis.
        </p>
      </div>
      <div class="col-md-4 mb30">
        <h4>Are there any cancellation fees?</h4>
        <p>
          No way. We want you to be 100% happy - so there's no more charges after deactivation.
        </p>
      </div>
    </div>
  </div>
</div>
