<div class=" pt90 pb60">
  <div class="container">
    <div class="title-heading1 mb40">
      <h3>BLOG</h3>
    </div>
    <div class="row">
      <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".2s">
        <div class="entry-card">
          <!--/entry thumb-->
          <div class="entry-content">
            <div class="entry-meta mb5">
              <span>
                Sept 15th 2018
              </span>
            </div>
            <h4 class="entry-title text-capitalize">
              <a>
                Advantages of custom software v out of the box products
              </a>
            </h4>
            <p>
              There are many advantages to creating a custom software compared to using an out of the box solution. This article outlines the top five.
            </p>
            <div class="text-right">
              <a>Read More</a>
            </div>
          </div>
          <!--/entry content-->
        </div>
      </div>
      <!--/.col-->
      <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".3s">
        <div class="entry-card">
          <!--/entry thumb-->
          <div class="entry-content">
            <div class="entry-meta mb5">
              <span>
                Oct 5th 2018
              </span>
            </div>
            <h4 class="entry-title text-capitalize">
              <a>
                How can you best protect patient data? Two Factor Authentication.
              </a>
            </h4>
            <p>
              Two-factor authentication combines something you know (password) with something you have (email) to provide better security.
            </p>
            <div class="text-right">
              <a>Read More</a>
            </div>
          </div>
          <!--/entry content-->
        </div>
      </div>
      <!--/.col-->

      <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".4s">
        <div class="entry-card">
          <!--/entry thumb-->
          <div class="entry-content">
            <div class="entry-meta mb5">
              <span>
                Nov 5th 2018
              </span>
            </div>
            <h4 class="entry-title text-capitalize">
              <a>
                The future of healthcare applications is cloud based.
              </a>
            </h4>
            <p>
              Cloud applications have many advantages compared to local hosting. Improved access to information anywhere on any device.
            </p>
            <div class="text-right">
              <a>Read More</a>
            </div>
          </div>
          <!--/entry content-->
        </div>
      </div>
      <!--/.col-->
    </div>
  </div>
</div>
<!--news-->
