<div class="bg-faded">
  <div class="container pt90 pb50">
    <div class="text-center mb60">
      <h2>Dandy Care Aged Care Software</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag 'imac.png', class: 'img-fluid', alt: "Mobile Physiotherapist" %>
      </div>
      <div class="col-md-6">
        <p>'Dandy' is a Gaelic word used to describe having a feeling of satisfaction, enjoyment or well-being, often arising from a favorable situation or set of circumstances. Sono Care is an aged care software developed using these principles to assist an organization to provide the highest quality of care. We are motivated to help you deliver a feeling of satisfaction to people living within your residential aged care and retirement village facilities. </p>
        <p>Ben Strachan, the founder of Dandy Care, is a health professional with significant experience within aged care. He became frustrated by the design of current systems; each was incredibly complicated to use and required considerable training. Ben understood many users do not have strong computer skills, and English may be a second language. He has designed and build Dandy care to simple yet powerful. </p>
        <p>Dandy Care was designed and built to manage both residential aged care and retirement village facilities. It is best described both a customer relationship management (CRM) software and electronic health record (EHR). It can manage all aspects of your facility including clinical notes, family interactions, appointments and invoicing. It can be completely customized to suit your organizations requires. </p>
        <p>If you're looking to upgrade your organization's software and technology, please contact us. We have many customizations and options available to suit your requirements. Ben Strachan, the company founder, and lead software developer is a health professional. Ben is an expert in the aged care and able to help translate your requirements into software. </p>
        <h5>Still deciding? Try demo account</h5>
        <p><strong>Link:</strong> <a href="https://www.dandy.care/">https://www.dandy.care/</a> <br>
          <strong>User:</strong> test@testing.com <br>
           <strong>Password:</strong> testing123</p>
    </div>
  </div>
</div>
