<div class="bg-faded">
  <div class="container pt90 pb50">
    <div class="text-center mb60">
      <h2>Dandy Care | Medical Software Developers</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag 'imac.png', class: 'img-fluid', alt: "Mobile Physiotherapist" %>
      </div>
      <div class="col-md-6">
        <p>
          Dandy Care is both an Electronic Health Record (EHR) and Custom Software Development Company. We have created a foundation template with the majority of features your application requires; this will serve as the starting point for development. You
          can design the additional features or changes you need, we can build them and support your implementation.
        </p>
        <p>
          A medical business's policies and procedures are its fundamental competitive advantage; this extends to the software that manages your business. How can you excel compared to your competition if you're using the same systems? We can help you build a
          custom electronic health record to strengthen your advantage.
        </p>
        <p>
          Information security is essential for patient information. Creating your bespoke application allows more control over information security. Fundamentally storing your data in a separate database, hosted on different servers makes hacking much more
          difficult.
        </p>
        <h5>Still deciding? Try demo account</h5>
        <p>
          <strong>Link:</strong>
          <a href="https://www.dandy.care/">https://www.dandy.care/</a>
          <br>
          <strong>User:</strong>
          test@testing.com
          <br>
          <strong>Password:</strong>
          testing123</p>
      </div>
    </div>
  </div>
