<div class="bg-faded">
  <div class="container pt90 pb50">
    <p class="lead text-center">
      Start a 14 days free trail. Cancel your plan anytime. No credit card require
    </p>
    <br>
    <div class="row">
      <div class="pricing-table  align-items-center">
        <div class="col-lg-3 col-md-6 plan">
        </div>
        <div class="col-lg-3 col-md-6 plan popular-plan">
          <div class="plan-header">
            <h4>Business</h4>
            <h1 class="text-info">$69.99 <small>/ PM</small></h1>
            <h6>Extended License</h6>
          </div>
          <a href="#" class="btn btn-secondary btn-lg btn-block">Add to Cart</a>
          <ul class="list-unstyled">
            <li><i class="fa fa-check-circle-o"></i> <strong>500Gb</strong> Disk Space</li>
            <li><i class="fa fa-check-circle-o"></i> <strong>50Gb</strong> Monthly Bandwdith</li>
            <li><i class="fa fa-check-circle-o"></i> <strong>Unlimited</strong> Email Accounts</li>
            <li><i class="fa fa-check-circle-o"></i> <strong>Unlimited</strong> Sub domains</li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 plan">
          <div class="plan-header">
            <h4>Business</h4>
            <h1 class="text-info">$69.99 <small>/ PM</small></h1>
            <h6>Extended License</h6>
          </div>
          <a href="#" class="btn btn-secondary btn-lg btn-block">Add to Cart</a>
          <ul class="list-unstyled">
            <li><i class="fa fa-check-circle-o"></i> <strong>500Gb</strong> Disk Space</li>
            <li><i class="fa fa-check-circle-o"></i> <strong>50Gb</strong> Monthly Bandwdith</li>
            <li><i class="fa fa-check-circle-o"></i> <strong>Unlimited</strong> Email Accounts</li>
            <li><i class="fa fa-check-circle-o"></i> <strong>Unlimited</strong> Sub domains</li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 plan">
        </div>
      </div>
    </div>
  </div>
</div>
