<div class="cbp-l-slider-testimonials-wrap">
  <div style="max-width: 980px; margin: 0 auto;">
    <div id="js-grid-slider-testimonials" class="cbp cbp-slider-edge">
      <div class="cbp-item graphic">
        <div class="cbp-l-grid-slider-testimonials-body">
          “ Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. ”
        </div>
        <div class="cbp-l-grid-slider-testimonials-footer">
          John Snow, CEO, Mockingbird
        </div>
      </div>
      <div class="cbp-item web-design logos">
        <div class="cbp-l-grid-slider-testimonials-body">
          “ Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. ”
        </div>
        <div class="cbp-l-grid-slider-testimonials-footer">
          Arya Stark, CFO, Valar Dohaeris
        </div>
      </div>
      <div class="cbp-item graphic logos">
        <div class="cbp-l-grid-slider-testimonials-body">
          “ On the other hand, we denounce with righteous indignation and dislike men who are demoralized by the charms of pleasure of the moment. ”
        </div>
        <div class="cbp-l-grid-slider-testimonials-footer">
          Tyrion Lannister, CEO, Second Sons
        </div>
      </div>
    </div>
  </div>
</div>
