<div class='container mb40 pt30'>
  <div class="text-center mb60">
    <h2>Full of features, yet simple to use!</h2>
    <p>Aged Care Software Developers: Custom Project or Out of Box Solutions.</p>
  </div>
  <div class='row'>
    <div class="col-lg-4 mb40">
      <div class="media">
        <div class="d-flex mr-3">
          <i class="icon-hover-1 bg-default fa fa-calendar icon-hover-default"></i>
        </div>
        <div class="media-body">
          <h4 class="mt-0 mb10 text-uppercase">Keep running on time</h4>
          Manage appointments, meetings, staff, and clients from a flexible and straightforward calendar platform.
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb40">
      <div class="media">
        <div class="d-flex mr-3">
          <i class="icon-hover-1 bg-default fa fa-stethoscope icon-hover-default"></i>
        </div>
        <div class="media-body">
          <h4 class="mt-0 mb10 text-uppercase">Clinical notes in a flash</h4>
          Document each consultation with your own easy-to-use progress note templates. Track resident progress on the same screen.
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb40">
      <div class="media">
        <div class="d-flex mr-3">
          <i class="icon-hover-1 bg-default fa fa-envelope-open icon-hover-default"></i>
        </div>
        <div class="media-body">
          <h4 class="mt-0 mb10 text-uppercase">Write letters and store files</h4>
          Securely upload and access documents, letters and files for each patient. Use personalised templates to write letters.
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-lg-4 mb40">
      <div class="media">
        <div class="d-flex mr-3">
          <i class="icon-hover-1 bg-default fa fa-file icon-hover-default"></i>
        </div>
        <div class="media-body">
          <h4 class="mt-0 mb10 text-uppercase">Invoice and submit claims</h4>
          Generate invoices for residents, health funds and insurance companies. Quick to claim and get the money in the bank.
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb40">
      <div class="media">
        <div class="d-flex mr-3">
          <i class="icon-hover-1 bg-default fa fa-lock icon-hover-default"></i>
        </div>
        <div class="media-body">
          <h4 class="mt-0 mb10 text-uppercase">Keep data safe</h4>
          With an extensive permission management system, you have full control over exactly what your staff can see and do.
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb40">
      <div class="media">
        <div class="d-flex mr-3">
          <i class="icon-hover-1 bg-default fa fa-signal icon-hover-default"></i>
        </div>
        <div class="media-body">
          <h4 class="mt-0 mb10 text-uppercase">Report and track</h4>
          Finance and activity reporting can give you a sharp insight into what's happening in your business and with staff.
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-lg-4 mb40">
      <div class="media">
        <div class="d-flex mr-3">
          <i class="icon-hover-1 bg-default fa fa-users icon-hover-default"></i>
        </div>
        <div class="media-body">
          <h4 class="mt-0 mb10 text-uppercase">ACFI management</h4>
          Aged Care Funding Instrument (ACFI) Funding management & optimisation. Dont miss your entitlements.
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb40">
      <div class="media">
        <div class="d-flex mr-3">
          <i class="icon-hover-1 bg-default fa fa-mobile icon-hover-default"></i>
        </div>
        <div class="media-body">
          <h4 class="mt-0 mb10 text-uppercase">Any device</h4>
          Dandy Care is a mobile responsive web application. It is available to use on a device including mobile, tablet and desktop computers; anything with an internet connection.
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb40">
      <div class="media">
        <div class="d-flex mr-3">
          <i class="icon-hover-1 bg-default fa fa-exclamation icon-hover-default"></i>
        </div>
        <div class="media-body">
          <h4 class="mt-0 mb10 text-uppercase">Branding</h4>
          We understand your branding is necessary; all solutions can be white-labeled to appear created by your internal software team. Of course, we can help you.
        </div>
      </div>
    </div>
  </div>
</div>
